{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>{{message}}</p>

                        {{#isCorrectionSent}}
                            <p>La corrección de la evaluación de esta inscripción ha sido aplicada y enviada.</p>
                        {{/isCorrectionSent}}

                        <p>
                            <strong>Oportunidad: </strong> <a href="{{opportunityUrl}}" rel="noopener noreferrer">{{opportunityName}}</a><br>
                            {{#phaseUrl}}<strong>Fase de recurso: </strong> <a href="{{phaseUrl}}" rel="noopener noreferrer">{{phaseName}}</a><br>{{/phaseUrl}}
                            <strong>Inscripción: </strong> <a href="{{registrationUrl}}" rel="noopener noreferrer">{{registrationNumber}}</a><br>
                            {{#deadline}}<strong>Plazo: </strong> {{deadline}}{{/deadline}}
                        </p>

                        <br>
                        <a href="{{registrationUrl}}" rel="noopener noreferrer">
                            <div class="status-card status-card--primary">
                                <h2 class="status-card--title">Acceder a la inscripción</h2>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{{_footer}}}
